*{
    margin: 0%;
    padding: 0%;
}
html{
    scroll-behavior: smooth;
}
body{
    background-image: url("./Images/SliderImage/5.jpg");
    /* height: 670px; */
    min-height: 670px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.card{
    background-color: #0f0f0e;
    opacity: 0.8;
    color: white;
}
.form-control:focus{
    border-color: rgb(226, 226, 222);
    box-shadow: 0 0 0 .2rem rgba(230, 227, 227, 0.25) !important;
}